In [1]:
import pandas as pd
import numpy as np
from IPython.display import display
import requests
import matplotlib.pyplot as plt

base_path = 'C:/Users/언종/Desktop/data'

# 각 데이터 파일 불러오기
weather_forecast_1 = pd.read_csv(f'{base_path}/기상예측데이터_1.csv')
weather_forecast_2 = pd.read_csv(f'{base_path}/기상예측데이터_2.csv')
weather_actual_1 = pd.read_csv(f'{base_path}/기상실측데이터_1.csv')
weather_actual_2 = pd.read_csv(f'{base_path}/기상실측데이터_2.csv')
price_day_ahead = pd.read_csv(f'{base_path}/제주전력시장_시장전기가격_하루전가격.csv')

In [2]:
price_day_ahead = price_day_ahead.rename(columns={
    '하루전가격(원/kWh)' : 'smp_da'
})

In [3]:
dates = ['2024-10-23', '2024-10-24', '2024-10-25', '2024-10-26', '2024-10-27',
         '2024-10-28', '2024-10-29','2024-10-30', '2024-10-31', '2024-11-01',
         '2024-11-02', '2024-11-03', '2024-11-04', '2024-11-05','2024-11-06',
         '2024-11-07','2024-11-08', '2024-11-09', '2024-11-10']

data_frames = []

token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJqaUtiN01nazVKZThnd3JTbmFmMk1HIiwiaWF0IjoxNzMxMjAxMzE4LCJleHAiOjE3MzE1OTY0MDAsInR5cGUiOiJhcGlfa2V5In0.1HewB2-rCsqpwLN4FlbwPOAOoIDK54phUZmcJorS2W4"
headers = {
    'Authorization': f'Bearer {token}'
}

for date in dates:
    response = requests.get(f'https://research-api.solarkim.com/data/cmpt-2024/smp-da/{date}', headers=headers)
    daily_data = response.json()
    daily_df = pd.DataFrame(daily_data)
    data_frames.append(daily_df)

smp_da_combined_df = pd.concat(data_frames, ignore_index=True)
smp_da_combined_df

             ts  smp_da
0    1729612800  219.19
1    1729616400  209.55
2    1729620000    0.00
3    1729623600    0.00
4    1729627200    0.00
..          ...     ...
451  1731236400  114.99
452  1731240000  114.99
453  1731243600  114.94
454  1731247200   92.24
455  1731250800   92.45

[456 rows x 2 columns]

In [4]:
import pandas as pd
from datetime import datetime, timedelta

ts = [datetime(2024, 11, 9, 1, 0) + timedelta(hours=i) for i in range(48)]

ts_unix = [int(dt.timestamp()) for dt in ts]

smp_da = [
    113.22, 88.17, 87.58, 80.28, 80.28, 87.55, 88.34, 93.07,
    93.07, 105.86, 105.84, 105.61, 105.82, 105.81, 104.82, 105.64,
    105.25, 105.73, 105.85, 105.86, 104.28, 92.08, 92.29, 92.29, 98.10, 78.40, 78.40, 78.40, 78.40, 78.40, 80.24, 90.77, 90.68, 
    92.45, 92.24, 114.99, 92.00, 114.27, 92.00, 114.60, 114.99, 
    114.99, 214.27, 114.99, 114.99, 114.99, 92.24, 92.45
]

k_df = pd.DataFrame({'ts': ts_unix, 'smp_da': smp_da})

k_df

            ts  smp_da
0   1731081600  113.22
1   1731085200   88.17
2   1731088800   87.58
3   1731092400   80.28
4   1731096000   80.28
5   1731099600   87.55
6   1731103200   88.34
7   1731106800   93.07
8   1731110400   93.07
9   1731114000  105.86
10  1731117600  105.84
11  1731121200  105.61
12  1731124800  105.82
13  1731128400  105.81
14  1731132000  104.82
15  1731135600  105.64
16  1731139200  105.25
17  1731142800  105.73
18  1731146400  105.85
19  1731150000  105.86
20  1731153600  104.28
21  1731157200   92.08
22  1731160800   92.29
23  1731164400   92.29
24  1731168000   98.10
25  1731171600   78.40
26  1731175200   78.40
27  1731178800   78.40
28  1731182400   78.40
29  1731186000   78.40
30  1731189600   80.24
31  1731193200   90.77
32  1731196800   90.68
33  1731200400   92.45
34  1731204000   92.24
35  1731207600  114.99
36  1731211200   92.00
37  1731214800  114.27
38  1731218400   92.00
39  1731222000  114.60
40  1731225600  114.99
41  1731229200  114.99
42  1731232800  214.27
43  1731236400  114.99
44  1731240000  114.99
45  1731243600  114.99
46  1731247200   92.24
47  1731250800   92.45

In [5]:
smp_da_combined_df = pd.concat([smp_da_combined_df, k_df], ignore_index=True)
smp_da_combined_df

             ts  smp_da
0    1729612800  219.19
1    1729616400  209.55
2    1729620000    0.00
3    1729623600    0.00
4    1729627200    0.00
..          ...     ...
499  1731236400  114.99
500  1731240000  114.99
501  1731243600  114.99
502  1731247200   92.24
503  1731250800   92.45

[504 rows x 2 columns]

In [6]:
dates = ['2024-10-23', '2024-10-24', '2024-10-25', '2024-10-26', '2024-10-27',
         '2024-10-28', '2024-10-29', '2024-10-30', '2024-10-31', '2024-11-01',
         '2024-11-02', '2024-11-03', '2024-11-04', '2024-11-05','2024-11-06',
         '2024-11-07','2024-11-08','2024-11-09', '2024-11-10']
token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJqaUtiN01nazVKZThnd3JTbmFmMk1HIiwiaWF0IjoxNzMxMjAxMzE4LCJleHAiOjE3MzE1OTY0MDAsInR5cGUiOiJhcGlfa2V5In0.1HewB2-rCsqpwLN4FlbwPOAOoIDK54phUZmcJorS2W4"
headers = {'Authorization': f'Bearer {token}'}

def fetch_data(endpoint, date):
    url = f'https://research-api.solarkim.com/data/cmpt-2024/{endpoint}/{date}'
    response = requests.get(url, headers=headers)
    return response.json()

weather_forecast_1_dfs = []
weather_forecast_2_dfs = []

for date in dates:
    data = fetch_data('weather-forecast', date)
    weather_forecast_1_dfs.append(pd.DataFrame(data['weather_forecast_1']))
    weather_forecast_2_dfs.append(pd.DataFrame(data['weather_forecast_2']))

weather_forecast_1_combined_df = pd.concat(weather_forecast_1_dfs, ignore_index=True)
weather_forecast_2_combined_df = pd.concat(weather_forecast_2_dfs, ignore_index=True)

display(weather_forecast_1_combined_df)
display(weather_forecast_2_combined_df)

,base_ts,ts,temp,real_feel_temp,wet_bulb_temp,dew_point,wind_spd,wind_dir,wind_gust_spd,rel_hum,...,precip_prob,rain_prob,snow_prob,ice_prob,total_liq,rain,snow,ice,cld_cvr,location
0,1729648800,1729695600,16.6667,13.8889,13.8889,11.1111,20.4387,11.0,42.6476,71.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,Ilgwa-ri
1,1729648800,1729699200,16.6667,13.8889,13.3333,11.1111,20.4387,11.0,42.6476,72.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,Ilgwa-ri
2,1729648800,1729702800,16.1111,13.8889,13.3333,11.1111,22.2089,9.0,44.4179,72.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,Ilgwa-ri
3,1729648800,1729706400,16.1111,13.3333,13.3333,11.1111,22.2089,8.0,44.4179,72.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,Ilgwa-ri
4,1729648800,1729710000,16.1111,13.3333,13.3333,11.1111,22.2089,9.0,44.4179,73.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,Ilgwa-ri
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4270,1731204000,1731322800,18.3333,17.7778,15.5556,13.3333,9.3342,4.0,20.4387,72.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,Sangmo-ri
4271,1731204000,1731326400,17.7778,17.2222,15.0000,13.3333,9.3342,332.0,22.2089,74.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,Sangmo-ri
4272,1731204000,1731330000,16.6667,16.1111,14.4444,12.7778,9.3342,334.0,20.4387,79.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,Sangmo-ri
4273,1731204000,1731333600,17.2222,16.6667,15.0000,12.7778,9.3342,338.0,18.5075,75.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,Sangmo-ri
4274,1731204000,1731337200,17.7778,17.2222,15.0000,12.7778,9.3342,344.0,20.4387,73.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,Sangmo-ri

,base_ts,ts,cloud,temp,temp_max,temp_min,humidity,ground_press,wind_speed,wind_dir,rain,snow,location
0,1729648800,1729695600,0.0,16.96,16.96,16.96,63.0,1021.0,6.52,7.0,0.0,0.0,Gaigeturi
1,1729648800,1729699200,0.0,16.97,16.97,16.97,64.0,1020.0,7.05,6.0,0.0,0.0,Gaigeturi
2,1729648800,1729702800,0.0,16.98,16.98,16.98,64.0,1020.0,7.26,8.0,0.0,0.0,Gaigeturi
3,1729648800,1729706400,0.0,16.90,16.90,16.90,64.0,1020.0,7.04,11.0,0.0,0.0,Gaigeturi
4,1729648800,1729710000,0.0,16.82,16.82,16.82,64.0,1019.0,7.30,11.0,0.0,0.0,Gaigeturi
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1420,1731204000,1731322800,0.0,16.91,16.91,16.91,79.0,1020.0,2.16,83.0,0.0,0.0,Jeju
1421,1731204000,1731326400,0.0,16.77,16.77,16.77,80.0,1020.0,1.94,84.0,0.0,0.0,Jeju
1422,1731204000,1731330000,0.0,16.55,16.55,16.55,81.0,1020.0,1.65,84.0,0.0,0.0,Jeju
1423,1731204000,1731333600,2.0,16.37,16.37,16.37,81.0,1020.0,1.37,67.0,0.0,0.0,Jeju
1424,1731204000,1731337200,1.0,16.23,16.23,16.23,81.0,1020.0,1.44,40.0,0.0,0.0,Jeju

In [7]:
dates = ['2024-10-23', '2024-10-24', '2024-10-25', '2024-10-26', '2024-10-27',
         '2024-10-28', '2024-10-29', '2024-10-30', '2024-10-31', '2024-11-01',
         '2024-11-02', '2024-11-03', '2024-11-04', '2024-11-05','2024-11-06',
         '2024-11-07','2024-11-08','2024-11-09', '2024-11-10']
token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJqaUtiN01nazVKZThnd3JTbmFmMk1HIiwiaWF0IjoxNzMxMjAxMzE4LCJleHAiOjE3MzE1OTY0MDAsInR5cGUiOiJhcGlfa2V5In0.1HewB2-rCsqpwLN4FlbwPOAOoIDK54phUZmcJorS2W4"
headers = {'Authorization': f'Bearer {token}'}

def fetch_data(endpoint, date):
    url = f'https://research-api.solarkim.com/data/cmpt-2024/{endpoint}/{date}'
    response = requests.get(url, headers=headers)
    return response.json()

actual_weather_1_dfs = []
actual_weather_2_dfs = []

for date in dates:
    data = fetch_data('actual-weather', date)
    actual_weather_1_dfs.append(pd.DataFrame(data['actual_weather_1']))
    actual_weather_2_dfs.append(pd.DataFrame(data['actual_weather_2']))

actual_weather_1_combined_df = pd.concat(actual_weather_1_dfs, ignore_index=True)
actual_weather_2_combined_df = pd.concat(actual_weather_2_dfs, ignore_index=True)

display(actual_weather_1_combined_df)
display(actual_weather_2_combined_df)

,ts,temp,real_feel_temp,real_feel_temp_shade,rel_hum,dew_point,wind_dir,wind_spd,wind_gust_spd,uv_idx,vis,cld_cvr,ceiling,pressure,appr_temp,wind_chill_temp,wet_bulb_temp,precip_1h,location
0,1729609320,19.9,16.6,16.6,83.0,16.9,315.0,28.1,47.8,0.0,14.5,77.0,579.0,1013.2,20.0,20.0,18.0,0.1,Ilgwa-ri
1,1729612920,19.6,16.9,16.9,80.0,16.0,315.0,24.9,63.0,0.0,22.5,83.0,1798.0,1013.5,20.0,19.4,17.4,0.1,Ilgwa-ri
2,1729616160,18.8,16.0,16.0,79.0,15.2,315.0,25.9,58.0,0.0,16.1,68.0,1798.0,1016.0,20.0,18.9,16.7,0.0,Ilgwa-ri
3,1729616520,19.3,16.5,16.5,77.0,15.2,315.0,25.9,58.0,0.0,16.1,68.0,579.0,1013.9,19.4,19.4,16.8,0.0,Ilgwa-ri
4,1729619760,18.6,16.4,16.4,73.0,13.8,315.0,26.3,48.7,0.0,16.1,78.0,1798.0,1016.0,19.4,18.3,15.8,0.0,Ilgwa-ri
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5080,1731236520,17.8,16.2,16.2,93.0,16.6,90.0,10.1,12.2,0.0,16.1,100.0,2042.0,1020.0,19.4,17.8,17.1,0.2,Sangmo-ri
5081,1731239820,18.9,17.9,17.9,89.0,17.1,90.0,11.9,11.9,0.0,14.5,91.0,2042.0,1021.0,20.0,18.9,17.8,0.0,Sangmo-ri
5082,1731240120,17.8,17.2,17.2,96.0,17.1,90.0,11.9,11.9,0.0,14.5,91.0,2042.0,1019.6,19.4,17.8,17.4,0.0,Sangmo-ri
5083,1731243720,17.6,17.7,17.7,90.0,15.9,180.0,6.8,13.9,0.0,22.5,93.0,9479.0,1019.3,18.9,17.8,16.5,0.0,Sangmo-ri
5084,1731247320,17.4,14.0,14.0,98.0,17.0,338.0,22.7,22.7,0.0,16.1,79.0,9144.0,1019.0,19.4,17.2,17.4,0.1,Sangmo-ri

,ts,cloud,temp,temp_max,temp_min,humidity,ground_press,wind_speed,wind_dir,rain,snow,location
0,1729609282,100.0,20.25,20.25,20.25,84.0,1016.0,10.37,309.0,0.79,0.0,Gaigeturi
1,1729611047,75.0,20.03,20.03,20.03,77.0,1016.0,9.77,290.0,0.35,0.0,Gaigeturi
2,1729612873,100.0,20.32,20.32,20.32,76.0,1016.0,10.44,310.0,0.35,0.0,Gaigeturi
3,1729614646,75.0,19.03,19.03,19.03,82.0,1017.0,12.35,300.0,0.00,0.0,Gaigeturi
4,1729616465,100.0,19.99,19.99,19.99,75.0,1017.0,11.01,308.0,0.00,0.0,Gaigeturi
...,...,...,...,...,...,...,...,...,...,...,...,...
2731,1731241673,100.0,17.96,17.96,17.96,88.0,1020.0,4.12,60.0,0.13,0.0,Jeju
2732,1731243672,100.0,17.37,17.37,17.37,87.0,1020.0,3.15,79.0,0.00,0.0,Jeju
2733,1731245442,100.0,17.96,17.96,17.96,88.0,1021.0,3.60,60.0,0.00,0.0,Jeju
2734,1731247283,99.0,17.38,17.38,17.38,87.0,1021.0,3.00,94.0,0.00,0.0,Jeju
2735,1731249063,100.0,17.96,17.96,17.96,88.0,1020.0,2.06,90.0,0.00,0.0,Jeju

In [8]:
weather_forecast_1 = pd.concat([weather_forecast_1, weather_forecast_1_combined_df], ignore_index=True)
weather_forecast_2 = pd.concat([weather_forecast_2, weather_forecast_2_combined_df], ignore_index=True)
weather_actual_1 = pd.concat([weather_actual_1, actual_weather_1_combined_df], ignore_index=True)
weather_actual_2 = pd.concat([weather_actual_2, actual_weather_2_combined_df], ignore_index=True)
price_day_ahead = pd.concat([price_day_ahead, smp_da_combined_df], ignore_index=True)

In [9]:
def convert_columns(df):
    for col in df.columns:
        if col == 'ts' :
            df[col] = pd.to_numeric(df[col], errors='coerce').astype('Int64')  # ts는 Int64형으로 변환
        else:
            df[col] = pd.to_numeric(df[col], errors='coerce').astype(float)  # 나머지는 float형으로 변환
    return df  

weather_forecast_1 = convert_columns(weather_forecast_1)
weather_forecast_2 = convert_columns(weather_forecast_2)
weather_actual_1 = convert_columns(weather_actual_1)
weather_actual_2 = convert_columns(weather_actual_2)
price_day_ahead = convert_columns(price_day_ahead)

In [10]:
weather_forecast_1 = weather_forecast_1.drop(columns=['location'], errors='ignore')
weather_forecast_2 = weather_forecast_2.drop(columns=['location'], errors='ignore')
weather_actual_1 = weather_actual_1.drop(columns=['location'], errors='ignore')
weather_actual_2 = weather_actual_2.drop(columns=['location'], errors='ignore')

weather_forecast_1 = weather_forecast_1.drop(columns=['base_ts'], errors='ignore')
weather_forecast_2 = weather_forecast_2.drop(columns=['base_ts'], errors='ignore')

In [14]:
threshold_ts =  1730941800

for df in [weather_actual_1, weather_actual_2]:
    df.drop(df[df['ts'] > threshold_ts].index, inplace=True)

In [15]:
forecast_unique_cols = set(weather_forecast_1.columns) - set(weather_actual_1.columns)
actual_unique_cols = set(weather_actual_1.columns) - set(weather_forecast_1.columns)

print("\nweather_forecast_1에만 있는 칼럼:")
print(forecast_unique_cols)

print("\nweather_actual_1에만 있는 칼럼:")
print(actual_unique_cols)

weather_forecast_1에만 있는 칼럼:
{'total_liq', 'snow', 'rain_prob', 'rain', 'precip_prob', 'ice', 'snow_prob', 'ice_prob'}

weather_actual_1에만 있는 칼럼:
{'real_feel_temp_shade', 'precip_1h', 'wind_chill_temp', 'appr_temp', 'pressure'}

In [16]:
# 각 데이터 프레임에 대해 결측치가 포함된 행만 출력
dataframes = {
    "weather_forecast_1": weather_forecast_1,
    "weather_forecast_2": weather_forecast_2,
    "weather_actual_1": weather_actual_1,
    "weather_actual_2": weather_actual_2,
    "price_day_ahead": price_day_ahead
}

for name, df in dataframes.items():
    print(f"\nDataFrame: {name}")
    # 결측치가 있는 행만 선택
    missing_rows = df[df.isnull().any(axis=1)]
    display(missing_rows)

DataFrame: weather_forecast_1

,ts,temp,real_feel_temp,wet_bulb_temp,dew_point,wind_dir,wind_spd,wind_gust_spd,rel_hum,vis,...,uv_idx,precip_prob,rain_prob,snow_prob,ice_prob,total_liq,rain,snow,ice,cld_cvr
5925,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11851,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17777,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23703,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29629,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35555,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41481,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47407,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

DataFrame: weather_forecast_2

,ts,cloud,temp,temp_max,temp_min,humidity,ground_press,wind_speed,wind_dir,rain,snow
5925,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11851,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

DataFrame: weather_actual_1

,ts,temp,real_feel_temp,real_feel_temp_shade,rel_hum,dew_point,wind_dir,wind_spd,wind_gust_spd,uv_idx,vis,cld_cvr,ceiling,pressure,appr_temp,wind_chill_temp,wet_bulb_temp,precip_1h
7933,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13959,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21944,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28133,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36827,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42840,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50575,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56810,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

DataFrame: weather_actual_2

,ts,cloud,temp,temp_max,temp_min,humidity,ground_press,wind_speed,wind_dir,rain,snow
11332,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22672,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

DataFrame: price_day_ahead

Empty DataFrame
Columns: [ts, smp_da]
Index: []

In [17]:
def drop_missing_rows(df):
    return df.dropna(subset=['ts'])

weather_forecast_1 = drop_missing_rows(weather_forecast_1)
weather_forecast_2 = drop_missing_rows(weather_forecast_2)
weather_actual_1 = drop_missing_rows(weather_actual_1)
weather_actual_2 = drop_missing_rows(weather_actual_2)
price_day_ahead = drop_missing_rows(price_day_ahead)

# 주요 코드

In [18]:
def round_to_nearest_hour_and_average(df):
    df.loc[:, 'ts'] = pd.to_datetime(df['ts'], unit='s') + pd.Timedelta(hours=9)
    
    df.loc[:, 'rounded_ts'] = df['ts'].dt.round('h')
    
    df_mean = df.groupby('rounded_ts').mean().reset_index()

    df_mean['ts'] = (df_mean['rounded_ts'].astype('int64') // 10**9).astype(int) 

    df_mean.drop(columns=['rounded_ts'], inplace=True)
    
    return df_mean

weather_actual_1 = round_to_nearest_hour_and_average(weather_actual_1)
weather_actual_2 = round_to_nearest_hour_and_average(weather_actual_2)

display(weather_actual_1)
display(weather_actual_2)

C:\Users\언종\AppData\Local\Temp\ipykernel_5088\3063517806.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '<DatetimeArray>
['2024-03-01 00:57:00', '2024-03-01 01:03:00', '2024-03-01 02:02:00',
 '2024-03-01 02:57:00', '2024-03-01 03:04:00', '2024-03-01 03:57:00',
 '2024-03-01 04:57:00', '2024-03-01 05:57:00', '2024-03-01 07:02:00',
 '2024-03-01 07:57:00',
 ...
 '2024-11-07 03:03:00', '2024-11-07 03:56:00', '2024-11-07 04:02:00',
 '2024-11-07 05:02:00', '2024-11-07 06:02:00', '2024-11-07 07:02:00',
 '2024-11-07 07:57:00', '2024-11-07 08:02:00', '2024-11-07 08:57:00',
 '2024-11-07 10:02:00']
Length: 68804, dtype: datetime64[ns]' has dtype incompatible with Int64, please explicitly cast to a compatible dtype first.
  df.loc[:, 'ts'] = pd.to_datetime(df['ts'], unit='s') + pd.Timedelta(hours=9)
C:\Users\언종\AppData\Local\Temp\ipykernel_5088\3063517806.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'rounded_ts'] = df['ts'].dt.round('h')
C:\Users\언종\AppData\Local\Temp\ipykernel_5088\3063517806.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '<DatetimeArray>
['2024-03-01 00:00:56', '2024-03-01 00:31:04', '2024-03-01 01:00:54',
 '2024-03-01 01:31:16', '2024-03-01 02:00:58', '2024-03-01 02:31:18',
 '2024-03-01 03:00:42', '2024-03-01 03:31:29', '2024-03-01 04:00:57',
 '2024-03-01 04:30:44',
 ...
 '2024-11-07 05:30:41', '2024-11-07 06:01:08', '2024-11-07 06:30:53',
 '2024-11-07 06:59:07', '2024-11-07 07:30:39', '2024-11-07 08:01:05',
 '2024-11-07 08:31:11', '2024-11-07 09:01:15', '2024-11-07 09:30:38',
 '2024-11-07 10:01:04']
Length: 36233, dtype: datetime64[ns]' has dtype incompatible with Int64, please explicitly cast to a compatible dtype first.
  df.loc[:, 'ts'] = pd.to_datetime(df['ts'], unit='s') + pd.Timedelta(hours=9)
C:\Users\언종\AppData\Local\Temp\ipykernel_5088\3063517806.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'rounded_ts'] = df['ts'].dt.round('h')

,ts,temp,real_feel_temp,real_feel_temp_shade,rel_hum,dew_point,wind_dir,wind_spd,wind_gust_spd,uv_idx,vis,cld_cvr,ceiling,pressure,appr_temp,wind_chill_temp,wet_bulb_temp,precip_1h
0,1709251200,8.500000,8.000000,8.000000,81.000000,5.500000,270.000000,6.100000,17.600000,0.000000,20.900000,91.000000,579.000000,1015.900000,10.000000,7.200000,7.100000,0.100000
1,1709254800,7.158333,3.041667,3.041667,72.666667,2.508333,234.666667,20.483333,26.366667,0.000000,20.783333,97.750000,693.416667,1021.125000,8.616667,4.041667,5.091667,0.008333
2,1709258400,6.477778,2.111111,2.111111,75.666667,2.433333,262.888889,21.944444,27.433333,0.000000,20.033333,86.333333,616.222222,1018.666667,7.644444,2.966667,4.733333,0.011111
3,1709262000,6.045455,0.900000,0.900000,74.545455,1.663636,213.000000,22.490909,27.645455,0.000000,19.900000,62.818182,8692.363636,1021.500000,7.218182,2.518182,4.209091,0.136364
4,1709265600,5.430000,-0.090000,-0.090000,68.100000,-0.030000,256.800000,26.140000,42.440000,0.000000,23.800000,38.100000,10911.800000,1023.470000,6.440000,1.450000,3.180000,0.410000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6030,1730959200,10.345455,8.981818,8.981818,68.000000,4.672727,100.545455,10.000000,12.545455,0.000000,22.681818,20.181818,10698.272727,1027.063636,12.272727,9.654545,7.618182,0.000000
6031,1730962800,10.355556,9.033333,9.033333,70.555556,5.166667,97.666667,10.644444,16.388889,0.000000,27.166667,11.666667,10397.222222,1027.244444,12.288889,9.444444,7.866667,0.000000
6032,1730966400,11.069231,10.661538,9.869231,72.769231,6.369231,88.692308,10.053846,12.761538,0.615385,20.553846,27.307692,10946.923077,1027.915385,13.253846,10.469231,8.784615,0.000000
6033,1730970000,13.388889,13.677778,12.455556,66.333333,7.200000,117.777778,9.255556,12.400000,1.000000,22.533333,6.666667,12192.000000,1028.622222,15.622222,13.211111,10.200000,0.000000
6034,1730973600,14.127273,15.563636,12.954545,63.909091,7.390909,139.454545,10.636364,14.400000,2.818182,26.172727,9.636364,9332.363636,1027.854545,16.727273,14.154545,10.609091,0.000000

,ts,cloud,temp,temp_max,temp_min,humidity,ground_press,wind_speed,wind_dir,rain,snow
0,1709251200,89.333333,6.146667,6.146667,6.146667,74.666667,1022.666667,8.553333,345.333333,0.17,0.0
1,1709254800,83.500000,6.255000,6.255000,6.255000,70.500000,1022.500000,6.256667,342.000000,0.00,0.0
2,1709258400,84.333333,5.926667,5.926667,5.926667,67.833333,1022.833333,7.291667,343.000000,0.21,0.0
3,1709262000,83.666667,5.198333,5.198333,5.198333,63.833333,1023.500000,7.520000,342.333333,0.00,0.0
4,1709265600,42.166667,4.433333,4.433333,4.433333,64.833333,1023.833333,7.330000,342.000000,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...
6030,1730959200,0.166667,9.248333,9.248333,9.248333,67.000000,1028.000000,2.995000,114.166667,0.00,0.0
6031,1730962800,13.833333,8.916667,8.916667,8.916667,68.333333,1028.000000,3.165000,128.833333,0.00,0.0
6032,1730966400,21.000000,10.366667,10.366667,10.366667,69.166667,1029.000000,3.133333,111.166667,0.00,0.0
6033,1730970000,22.666667,12.521667,12.521667,12.521667,62.500000,1029.000000,3.681667,102.666667,0.00,0.0
6034,1730973600,12.166667,13.855000,13.855000,13.855000,58.333333,1029.000000,3.363333,89.666667,0.00,0.0

In [19]:
dataframes = [
    weather_forecast_1,
    weather_forecast_2,
    weather_actual_1,
    weather_actual_2
]

merged_df = price_day_ahead.copy()

for df in dataframes:
    df = df.drop_duplicates(subset=['ts'])

    merged_df = pd.merge(merged_df, df, on='ts', how='left', suffixes=('', '_dup'))

    for column in df.columns:
        if column != 'ts' and column in merged_df.columns and f"{column}_dup" in merged_df.columns:
            merged_df[column] = merged_df[[column, f"{column}_dup"]].mean(axis=1)
            merged_df.drop(columns=[f"{column}_dup"], inplace=True)

print(merged_df.shape)
display(merged_df)

(6169, 33)

,ts,smp_da,temp,real_feel_temp,wet_bulb_temp,dew_point,wind_dir,wind_spd,wind_gust_spd,rel_hum,...,temp_max,temp_min,humidity,ground_press,wind_speed,real_feel_temp_shade,pressure,appr_temp,wind_chill_temp,precip_1h
0,1709218800,107.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1709222400,107.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1709226000,95.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1709229600,87.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1709233200,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6164,1731236400,114.99,18.06945,17.2222,17.2222,15.5556,59.5,13.0357,14.8060,83.0,...,17.25,17.25,90.0,1020.0,7.17,NaN,NaN,NaN,NaN,NaN
6165,1731240000,114.99,18.14945,17.2222,17.2222,15.5556,55.5,13.0357,13.0357,83.0,...,17.41,17.41,89.0,1020.0,7.32,NaN,NaN,NaN,NaN,NaN
6166,1731243600,114.99,17.95665,17.2222,16.6667,15.5556,47.0,11.1045,13.0357,84.0,...,17.58,17.58,88.0,1021.0,7.46,NaN,NaN,NaN,NaN,NaN
6167,1731247200,92.24,17.88165,17.7778,16.6667,15.5556,48.5,11.1045,14.8060,84.0,...,17.43,17.43,85.0,1020.0,7.15,NaN,NaN,NaN,NaN,NaN
6168,1731250800,92.45,17.87165,17.7778,16.6667,15.5556,46.5,9.3342,16.7372,84.0,...,17.41,17.41,83.0,1020.0,5.74,NaN,NaN,NaN,NaN,NaN

In [20]:
missing_rows = merged_df[merged_df.isna().any(axis=1)]
missing_rows

,ts,smp_da,temp,real_feel_temp,wet_bulb_temp,dew_point,wind_dir,wind_spd,wind_gust_spd,rel_hum,...,temp_max,temp_min,humidity,ground_press,wind_speed,real_feel_temp_shade,pressure,appr_temp,wind_chill_temp,precip_1h
0,1709218800,107.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1709222400,107.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1709226000,95.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1709229600,87.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1709233200,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6164,1731236400,114.99,18.06945,17.2222,17.2222,15.5556,59.5,13.0357,14.8060,83.0,...,17.25,17.25,90.0,1020.0,7.17,NaN,NaN,NaN,NaN,NaN
6165,1731240000,114.99,18.14945,17.2222,17.2222,15.5556,55.5,13.0357,13.0357,83.0,...,17.41,17.41,89.0,1020.0,7.32,NaN,NaN,NaN,NaN,NaN
6166,1731243600,114.99,17.95665,17.2222,16.6667,15.5556,47.0,11.1045,13.0357,84.0,...,17.58,17.58,88.0,1021.0,7.46,NaN,NaN,NaN,NaN,NaN
6167,1731247200,92.24,17.88165,17.7778,16.6667,15.5556,48.5,11.1045,14.8060,84.0,...,17.43,17.43,85.0,1020.0,7.15,NaN,NaN,NaN,NaN,NaN
6168,1731250800,92.45,17.87165,17.7778,16.6667,15.5556,46.5,9.3342,16.7372,84.0,...,17.41,17.41,83.0,1020.0,5.74,NaN,NaN,NaN,NaN,NaN

In [21]:
columns_to_drop = ['appr_temp', 'precip_1h', 'pressure',
                   'real_feel_temp_shade', 'wind_chill_temp','ice',
                   'snow_prob', 'snow', 'ice_prob']

merged_df = merged_df.drop(columns=columns_to_drop)

In [22]:
missing_rows = merged_df[merged_df.isna().any(axis=1)]
missing_rows

,ts,smp_da,temp,real_feel_temp,wet_bulb_temp,dew_point,wind_dir,wind_spd,wind_gust_spd,rel_hum,...,rain_prob,total_liq,rain,cld_cvr,cloud,temp_max,temp_min,humidity,ground_press,wind_speed
0,1709218800,107.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1709222400,107.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1709226000,95.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1709229600,87.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1709233200,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1709236800,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1709240400,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1709244000,111.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1709247600,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1709251200,111.67,7.323333,8.000000,7.100000,5.500000,307.666667,6.100000,17.600000,81.000000,...,NaN,NaN,0.17,91.000000,89.333333,6.146667,6.146667,74.666667,1022.666667,8.553333
10,1709254800,109.57,6.706667,3.041667,5.091667,2.508333,288.333333,20.483333,26.366667,72.666667,...,NaN,NaN,0.00,97.750000,83.500000,6.255000,6.255000,70.500000,1022.500000,6.256667
11,1709258400,0.00,6.202222,2.111111,4.733333,2.433333,302.944444,21.944444,27.433333,75.666667,...,NaN,NaN,0.21,86.333333,84.333333,5.926667,5.926667,67.833333,1022.833333,7.291667
12,1709262000,99.15,5.621894,0.900000,4.209091,1.663636,277.666667,22.490909,27.645455,74.545455,...,NaN,NaN,0.00,62.818182,83.666667,5.198333,5.198333,63.833333,1023.500000,7.520000
13,1709265600,0.00,4.931667,-0.090000,3.180000,-0.030000,299.400000,26.140000,42.440000,68.100000,...,NaN,NaN,0.00,38.100000,42.166667,4.433333,4.433333,64.833333,1023.833333,7.330000
14,1709269200,95.91,4.170000,-0.440000,2.930000,0.250000,286.650000,23.370000,30.660000,74.100000,...,NaN,NaN,0.00,29.200000,50.000000,3.640000,3.640000,67.500000,1023.833333,7.356667
15,1709272800,95.91,3.864697,-0.409091,2.690909,0.090909,264.522727,21.127273,28.427273,75.272727,...,NaN,NaN,0.00,49.909091,71.166667,3.356667,3.356667,64.500000,1024.500000,8.348333
16,1709276400,98.25,3.430584,-1.572727,1.590909,-1.627273,262.727273,23.945455,30.590909,68.727273,...,NaN,NaN,0.00,50.636364,73.428571,3.215714,3.215714,64.428571,1024.571429,7.648571
17,1709280000,100.21,2.873364,-1.609091,2.227273,-0.245455,277.409091,27.672727,34.063636,77.000000,...,NaN,NaN,0.00,44.454545,74.200000,2.074000,2.074000,66.200000,1025.400000,8.702000
18,1709283600,128.34,2.825455,-0.390909,1.800000,-1.418182,268.439394,24.445455,29.127273,70.272727,...,NaN,NaN,0.00,43.545455,75.000000,1.960000,1.960000,63.666667,1025.500000,7.756667
19,1709287200,109.57,3.109167,0.241667,1.150000,-2.850000,278.041667,25.258333,33.583333,62.333333,...,NaN,NaN,0.00,55.833333,81.333333,2.493333,2.493333,61.000000,1025.666667,7.521667
20,1709290800,109.83,2.690833,-1.100000,1.375000,-1.941667,303.208333,30.891667,35.358333,68.833333,...,NaN,NaN,0.00,30.833333,83.333333,1.990000,1.990000,62.166667,1026.333333,7.775000
21,1709294400,109.83,2.889167,-0.283333,1.375000,-2.691667,298.000000,30.558333,49.641667,62.833333,...,NaN,NaN,0.00,40.750000,80.500000,1.970000,1.970000,57.666667,1027.000000,8.653333
22,1709298000,110.35,2.972727,-0.654545,0.972727,-3.790909,300.310606,33.036364,45.909091,58.363636,...,NaN,NaN,0.00,77.000000,85.333333,2.100000,2.100000,58.666667,1026.666667,8.835000
23,1709301600,112.19,2.845064,-0.961538,1.292308,-2.584615,298.910256,29.361538,54.946154,64.076923,...,NaN,NaN,0.00,70.384615,85.833333,2.051667,2.051667,60.333333,1025.333333,8.733333

In [23]:
threshold = merged_df.shape[1] / 2 
merged_df = merged_df.dropna(thresh=threshold).reset_index(drop=True)

In [24]:
missing_rows = merged_df[merged_df.isna().any(axis=1)]
missing_rows

,ts,smp_da,temp,real_feel_temp,wet_bulb_temp,dew_point,wind_dir,wind_spd,wind_gust_spd,rel_hum,...,rain_prob,total_liq,rain,cld_cvr,cloud,temp_max,temp_min,humidity,ground_press,wind_speed
0,1709251200,111.67,7.323333,8.000000,7.100000,5.500000,307.666667,6.100000,17.600000,81.000000,...,NaN,NaN,0.17,91.000000,89.333333,6.146667,6.146667,74.666667,1022.666667,8.553333
1,1709254800,109.57,6.706667,3.041667,5.091667,2.508333,288.333333,20.483333,26.366667,72.666667,...,NaN,NaN,0.00,97.750000,83.500000,6.255000,6.255000,70.500000,1022.500000,6.256667
2,1709258400,0.00,6.202222,2.111111,4.733333,2.433333,302.944444,21.944444,27.433333,75.666667,...,NaN,NaN,0.21,86.333333,84.333333,5.926667,5.926667,67.833333,1022.833333,7.291667
3,1709262000,99.15,5.621894,0.900000,4.209091,1.663636,277.666667,22.490909,27.645455,74.545455,...,NaN,NaN,0.00,62.818182,83.666667,5.198333,5.198333,63.833333,1023.500000,7.520000
4,1709265600,0.00,4.931667,-0.090000,3.180000,-0.030000,299.400000,26.140000,42.440000,68.100000,...,NaN,NaN,0.00,38.100000,42.166667,4.433333,4.433333,64.833333,1023.833333,7.330000
5,1709269200,95.91,4.170000,-0.440000,2.930000,0.250000,286.650000,23.370000,30.660000,74.100000,...,NaN,NaN,0.00,29.200000,50.000000,3.640000,3.640000,67.500000,1023.833333,7.356667
6,1709272800,95.91,3.864697,-0.409091,2.690909,0.090909,264.522727,21.127273,28.427273,75.272727,...,NaN,NaN,0.00,49.909091,71.166667,3.356667,3.356667,64.500000,1024.500000,8.348333
7,1709276400,98.25,3.430584,-1.572727,1.590909,-1.627273,262.727273,23.945455,30.590909,68.727273,...,NaN,NaN,0.00,50.636364,73.428571,3.215714,3.215714,64.428571,1024.571429,7.648571
8,1709280000,100.21,2.873364,-1.609091,2.227273,-0.245455,277.409091,27.672727,34.063636,77.000000,...,NaN,NaN,0.00,44.454545,74.200000,2.074000,2.074000,66.200000,1025.400000,8.702000
9,1709283600,128.34,2.825455,-0.390909,1.800000,-1.418182,268.439394,24.445455,29.127273,70.272727,...,NaN,NaN,0.00,43.545455,75.000000,1.960000,1.960000,63.666667,1025.500000,7.756667
10,1709287200,109.57,3.109167,0.241667,1.150000,-2.850000,278.041667,25.258333,33.583333,62.333333,...,NaN,NaN,0.00,55.833333,81.333333,2.493333,2.493333,61.000000,1025.666667,7.521667
11,1709290800,109.83,2.690833,-1.100000,1.375000,-1.941667,303.208333,30.891667,35.358333,68.833333,...,NaN,NaN,0.00,30.833333,83.333333,1.990000,1.990000,62.166667,1026.333333,7.775000
12,1709294400,109.83,2.889167,-0.283333,1.375000,-2.691667,298.000000,30.558333,49.641667,62.833333,...,NaN,NaN,0.00,40.750000,80.500000,1.970000,1.970000,57.666667,1027.000000,8.653333
13,1709298000,110.35,2.972727,-0.654545,0.972727,-3.790909,300.310606,33.036364,45.909091,58.363636,...,NaN,NaN,0.00,77.000000,85.333333,2.100000,2.100000,58.666667,1026.666667,8.835000
14,1709301600,112.19,2.845064,-0.961538,1.292308,-2.584615,298.910256,29.361538,54.946154,64.076923,...,NaN,NaN,0.00,70.384615,85.833333,2.051667,2.051667,60.333333,1025.333333,8.733333

In [25]:
merged_df['datetime'] = pd.to_datetime(merged_df['ts'], unit='s', utc=True).dt.tz_convert('Asia/Seoul')
merged_df

,ts,smp_da,temp,real_feel_temp,wet_bulb_temp,dew_point,wind_dir,wind_spd,wind_gust_spd,rel_hum,...,total_liq,rain,cld_cvr,cloud,temp_max,temp_min,humidity,ground_press,wind_speed,datetime
0,1709251200,111.67,7.323333,8.000000,7.100000,5.500000,307.666667,6.100000,17.600000,81.000000,...,NaN,0.170,91.000000,89.333333,6.146667,6.146667,74.666667,1022.666667,8.553333,2024-03-01 09:00:00+09:00
1,1709254800,109.57,6.706667,3.041667,5.091667,2.508333,288.333333,20.483333,26.366667,72.666667,...,NaN,0.000,97.750000,83.500000,6.255000,6.255000,70.500000,1022.500000,6.256667,2024-03-01 10:00:00+09:00
2,1709258400,0.00,6.202222,2.111111,4.733333,2.433333,302.944444,21.944444,27.433333,75.666667,...,NaN,0.210,86.333333,84.333333,5.926667,5.926667,67.833333,1022.833333,7.291667,2024-03-01 11:00:00+09:00
3,1709262000,99.15,5.621894,0.900000,4.209091,1.663636,277.666667,22.490909,27.645455,74.545455,...,NaN,0.000,62.818182,83.666667,5.198333,5.198333,63.833333,1023.500000,7.520000,2024-03-01 12:00:00+09:00
4,1709265600,0.00,4.931667,-0.090000,3.180000,-0.030000,299.400000,26.140000,42.440000,68.100000,...,NaN,0.000,38.100000,42.166667,4.433333,4.433333,64.833333,1023.833333,7.330000,2024-03-01 13:00:00+09:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6155,1731236400,114.99,18.069450,17.222200,17.222200,15.555600,59.500000,13.035700,14.806000,83.000000,...,0.0,0.660,98.000000,100.000000,17.250000,17.250000,90.000000,1020.000000,7.170000,2024-11-10 20:00:00+09:00
6156,1731240000,114.99,18.149450,17.222200,17.222200,15.555600,55.500000,13.035700,13.035700,83.000000,...,0.0,0.340,96.000000,100.000000,17.410000,17.410000,89.000000,1020.000000,7.320000,2024-11-10 21:00:00+09:00
6157,1731243600,114.99,17.956650,17.222200,16.666700,15.555600,47.000000,11.104500,13.035700,84.000000,...,0.0,0.080,78.000000,100.000000,17.580000,17.580000,88.000000,1021.000000,7.460000,2024-11-10 22:00:00+09:00
6158,1731247200,92.24,17.881650,17.777800,16.666700,15.555600,48.500000,11.104500,14.806000,84.000000,...,0.0,0.000,60.000000,100.000000,17.430000,17.430000,85.000000,1020.000000,7.150000,2024-11-10 23:00:00+09:00
6159,1731250800,92.45,17.871650,17.777800,16.666700,15.555600,46.500000,9.334200,16.737200,84.000000,...,0.0,0.065,41.000000,100.000000,17.410000,17.410000,83.000000,1020.000000,5.740000,2024-11-11 00:00:00+09:00

In [26]:
missing_columns = merged_df.columns[merged_df.isnull().any()].tolist()

print("결측치가 있는 칼럼들:")
print(missing_columns)

결측치가 있는 칼럼들:
['precip_prob', 'rain_prob', 'total_liq']

In [27]:
columns_to_fill = ['precip_prob', 'rain_prob', 'total_liq']

for col in columns_to_fill:
    for i in merged_df.index:
        if pd.isna(merged_df.loc[i, col]):
            current_time = merged_df.loc[i, 'datetime']
            
            previous_day_time = current_time - pd.Timedelta(days=1)
            
            previous_day_data = merged_df[merged_df['datetime'] == previous_day_time]
            
            if not previous_day_data.empty:
                merged_df.loc[i, col] = previous_day_data[col].values[0]

merged_df

,ts,smp_da,temp,real_feel_temp,wet_bulb_temp,dew_point,wind_dir,wind_spd,wind_gust_spd,rel_hum,...,total_liq,rain,cld_cvr,cloud,temp_max,temp_min,humidity,ground_press,wind_speed,datetime
0,1709251200,111.67,7.323333,8.000000,7.100000,5.500000,307.666667,6.100000,17.600000,81.000000,...,NaN,0.170,91.000000,89.333333,6.146667,6.146667,74.666667,1022.666667,8.553333,2024-03-01 09:00:00+09:00
1,1709254800,109.57,6.706667,3.041667,5.091667,2.508333,288.333333,20.483333,26.366667,72.666667,...,NaN,0.000,97.750000,83.500000,6.255000,6.255000,70.500000,1022.500000,6.256667,2024-03-01 10:00:00+09:00
2,1709258400,0.00,6.202222,2.111111,4.733333,2.433333,302.944444,21.944444,27.433333,75.666667,...,NaN,0.210,86.333333,84.333333,5.926667,5.926667,67.833333,1022.833333,7.291667,2024-03-01 11:00:00+09:00
3,1709262000,99.15,5.621894,0.900000,4.209091,1.663636,277.666667,22.490909,27.645455,74.545455,...,NaN,0.000,62.818182,83.666667,5.198333,5.198333,63.833333,1023.500000,7.520000,2024-03-01 12:00:00+09:00
4,1709265600,0.00,4.931667,-0.090000,3.180000,-0.030000,299.400000,26.140000,42.440000,68.100000,...,NaN,0.000,38.100000,42.166667,4.433333,4.433333,64.833333,1023.833333,7.330000,2024-03-01 13:00:00+09:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6155,1731236400,114.99,18.069450,17.222200,17.222200,15.555600,59.500000,13.035700,14.806000,83.000000,...,0.0,0.660,98.000000,100.000000,17.250000,17.250000,90.000000,1020.000000,7.170000,2024-11-10 20:00:00+09:00
6156,1731240000,114.99,18.149450,17.222200,17.222200,15.555600,55.500000,13.035700,13.035700,83.000000,...,0.0,0.340,96.000000,100.000000,17.410000,17.410000,89.000000,1020.000000,7.320000,2024-11-10 21:00:00+09:00
6157,1731243600,114.99,17.956650,17.222200,16.666700,15.555600,47.000000,11.104500,13.035700,84.000000,...,0.0,0.080,78.000000,100.000000,17.580000,17.580000,88.000000,1021.000000,7.460000,2024-11-10 22:00:00+09:00
6158,1731247200,92.24,17.881650,17.777800,16.666700,15.555600,48.500000,11.104500,14.806000,84.000000,...,0.0,0.000,60.000000,100.000000,17.430000,17.430000,85.000000,1020.000000,7.150000,2024-11-10 23:00:00+09:00
6159,1731250800,92.45,17.871650,17.777800,16.666700,15.555600,46.500000,9.334200,16.737200,84.000000,...,0.0,0.065,41.000000,100.000000,17.410000,17.410000,83.000000,1020.000000,5.740000,2024-11-11 00:00:00+09:00

In [28]:
missing_rows = merged_df[merged_df.isna().any(axis=1)]
missing_rows

,ts,smp_da,temp,real_feel_temp,wet_bulb_temp,dew_point,wind_dir,wind_spd,wind_gust_spd,rel_hum,...,total_liq,rain,cld_cvr,cloud,temp_max,temp_min,humidity,ground_press,wind_speed,datetime
0,1709251200,111.67,7.323333,8.000000,7.100000,5.500000,307.666667,6.100000,17.600000,81.000000,...,NaN,0.17,91.000000,89.333333,6.146667,6.146667,74.666667,1022.666667,8.553333,2024-03-01 09:00:00+09:00
1,1709254800,109.57,6.706667,3.041667,5.091667,2.508333,288.333333,20.483333,26.366667,72.666667,...,NaN,0.00,97.750000,83.500000,6.255000,6.255000,70.500000,1022.500000,6.256667,2024-03-01 10:00:00+09:00
2,1709258400,0.00,6.202222,2.111111,4.733333,2.433333,302.944444,21.944444,27.433333,75.666667,...,NaN,0.21,86.333333,84.333333,5.926667,5.926667,67.833333,1022.833333,7.291667,2024-03-01 11:00:00+09:00
3,1709262000,99.15,5.621894,0.900000,4.209091,1.663636,277.666667,22.490909,27.645455,74.545455,...,NaN,0.00,62.818182,83.666667,5.198333,5.198333,63.833333,1023.500000,7.520000,2024-03-01 12:00:00+09:00
4,1709265600,0.00,4.931667,-0.090000,3.180000,-0.030000,299.400000,26.140000,42.440000,68.100000,...,NaN,0.00,38.100000,42.166667,4.433333,4.433333,64.833333,1023.833333,7.330000,2024-03-01 13:00:00+09:00
5,1709269200,95.91,4.170000,-0.440000,2.930000,0.250000,286.650000,23.370000,30.660000,74.100000,...,NaN,0.00,29.200000,50.000000,3.640000,3.640000,67.500000,1023.833333,7.356667,2024-03-01 14:00:00+09:00
6,1709272800,95.91,3.864697,-0.409091,2.690909,0.090909,264.522727,21.127273,28.427273,75.272727,...,NaN,0.00,49.909091,71.166667,3.356667,3.356667,64.500000,1024.500000,8.348333,2024-03-01 15:00:00+09:00
7,1709276400,98.25,3.430584,-1.572727,1.590909,-1.627273,262.727273,23.945455,30.590909,68.727273,...,NaN,0.00,50.636364,73.428571,3.215714,3.215714,64.428571,1024.571429,7.648571,2024-03-01 16:00:00+09:00
8,1709280000,100.21,2.873364,-1.609091,2.227273,-0.245455,277.409091,27.672727,34.063636,77.000000,...,NaN,0.00,44.454545,74.200000,2.074000,2.074000,66.200000,1025.400000,8.702000,2024-03-01 17:00:00+09:00
9,1709283600,128.34,2.825455,-0.390909,1.800000,-1.418182,268.439394,24.445455,29.127273,70.272727,...,NaN,0.00,43.545455,75.000000,1.960000,1.960000,63.666667,1025.500000,7.756667,2024-03-01 18:00:00+09:00
10,1709287200,109.57,3.109167,0.241667,1.150000,-2.850000,278.041667,25.258333,33.583333,62.333333,...,NaN,0.00,55.833333,81.333333,2.493333,2.493333,61.000000,1025.666667,7.521667,2024-03-01 19:00:00+09:00
11,1709290800,109.83,2.690833,-1.100000,1.375000,-1.941667,303.208333,30.891667,35.358333,68.833333,...,NaN,0.00,30.833333,83.333333,1.990000,1.990000,62.166667,1026.333333,7.775000,2024-03-01 20:00:00+09:00
12,1709294400,109.83,2.889167,-0.283333,1.375000,-2.691667,298.000000,30.558333,49.641667,62.833333,...,NaN,0.00,40.750000,80.500000,1.970000,1.970000,57.666667,1027.000000,8.653333,2024-03-01 21:00:00+09:00
13,1709298000,110.35,2.972727,-0.654545,0.972727,-3.790909,300.310606,33.036364,45.909091,58.363636,...,NaN,0.00,77.000000,85.333333,2.100000,2.100000,58.666667,1026.666667,8.835000,2024-03-01 22:00:00+09:00
14,1709301600,112.19,2.845064,-0.961538,1.292308,-2.584615,298.910256,29.361538,54.946154,64.076923,...,NaN,0.00,70.384615,85.833333,2.051667,2.051667,60.333333,1025.333333,8.733333,2024-03-01 23:00:00+09:00

In [29]:
missing_columns = merged_df.columns[merged_df.isnull().any()].tolist()

print("결측치가 있는 칼럼들:")
print(missing_columns)

결측치가 있는 칼럼들:
['precip_prob', 'rain_prob', 'total_liq']

In [30]:
columns_to_fill = [
   'precip_prob', 'rain_prob', 'total_liq'
]

for col in columns_to_fill:
    for i in merged_df.index:
        if pd.isna(merged_df.loc[i, col]):  
            current_time = merged_df.loc[i, 'datetime']
            
            next_day_time = current_time + pd.Timedelta(days=1)
            
            next_day_data = merged_df[merged_df['datetime'] == next_day_time]
            
            if not next_day_data.empty:
                merged_df.loc[i, col] = next_day_data[col].values[0]

In [31]:
missing_columns = merged_df.columns[merged_df.isnull().any()].tolist()

print("결측치가 있는 칼럼들:")
print(missing_columns)

결측치가 있는 칼럼들:
[]

In [32]:
merged_df['hour'] = merged_df['datetime'].dt.hour
merged_df['month'] = merged_df['datetime'].dt.month
merged_df['day'] = merged_df['datetime'].dt.day

merged_df['hour_sin'] = np.sin(2 * np.pi * merged_df['hour'] / 24)

merged_df = merged_df.drop(columns=['hour'])

merged_df = merged_df.drop(columns=['datetime'])

In [33]:
merged_df = merged_df.copy()

merged_df['date'] = pd.to_datetime(merged_df['ts'], unit='s', utc=True).dt.tz_convert('Asia/Seoul')
merged_df['weekday'] = merged_df['date'].dt.dayofweek  

merged_df['월요일'] = (merged_df['weekday'] == 0).astype(int)  
merged_df['평일'] = merged_df['weekday'].isin(range(1, 5)).astype(int)  
merged_df['주말'] = merged_df['weekday'].isin([5, 6]).astype(int) 

merged_df['공휴일'] = 0

merged_df = merged_df.drop(columns=['date', 'weekday'])

In [34]:
holiday_dates = [
    '2024-03-01', '2024-05-05', '2024-05-15', '2024-06-06',
    '2024-08-15', '2024-09-16', '2024-09-17', '2024-09-18',
    '2024-10-03', '2024-10-09'
]

merged_df['date'] = pd.to_datetime(merged_df['ts'], unit='s', utc=True).dt.tz_convert('Asia/Seoul')
merged_df['공휴일'] = merged_df['date'].dt.strftime('%Y-%m-%d').isin(holiday_dates).astype(int)

merged_df = merged_df.drop(columns=['date'])

In [35]:
merged_df.rename(columns={
    '월요일': 'Monday',
    '평일': 'Weekday',
    '주말': 'Weekend',
    '공휴일': 'Holiday'
}, inplace=True)

In [36]:
merged_df = merged_df.drop(columns=['temp_max'])

In [37]:
merged_df

,ts,smp_da,temp,real_feel_temp,wet_bulb_temp,dew_point,wind_dir,wind_spd,wind_gust_spd,rel_hum,...,humidity,ground_press,wind_speed,month,day,hour_sin,Monday,Weekday,Weekend,Holiday
0,1709251200,111.67,7.323333,8.000000,7.100000,5.500000,307.666667,6.100000,17.600000,81.000000,...,74.666667,1022.666667,8.553333,3,1,7.071068e-01,0,1,0,1
1,1709254800,109.57,6.706667,3.041667,5.091667,2.508333,288.333333,20.483333,26.366667,72.666667,...,70.500000,1022.500000,6.256667,3,1,5.000000e-01,0,1,0,1
2,1709258400,0.00,6.202222,2.111111,4.733333,2.433333,302.944444,21.944444,27.433333,75.666667,...,67.833333,1022.833333,7.291667,3,1,2.588190e-01,0,1,0,1
3,1709262000,99.15,5.621894,0.900000,4.209091,1.663636,277.666667,22.490909,27.645455,74.545455,...,63.833333,1023.500000,7.520000,3,1,1.224647e-16,0,1,0,1
4,1709265600,0.00,4.931667,-0.090000,3.180000,-0.030000,299.400000,26.140000,42.440000,68.100000,...,64.833333,1023.833333,7.330000,3,1,-2.588190e-01,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6155,1731236400,114.99,18.069450,17.222200,17.222200,15.555600,59.500000,13.035700,14.806000,83.000000,...,90.000000,1020.000000,7.170000,11,10,-8.660254e-01,0,0,1,0
6156,1731240000,114.99,18.149450,17.222200,17.222200,15.555600,55.500000,13.035700,13.035700,83.000000,...,89.000000,1020.000000,7.320000,11,10,-7.071068e-01,0,0,1,0
6157,1731243600,114.99,17.956650,17.222200,16.666700,15.555600,47.000000,11.104500,13.035700,84.000000,...,88.000000,1021.000000,7.460000,11,10,-5.000000e-01,0,0,1,0
6158,1731247200,92.24,17.881650,17.777800,16.666700,15.555600,48.500000,11.104500,14.806000,84.000000,...,85.000000,1020.000000,7.150000,11,10,-2.588190e-01,0,0,1,0
6159,1731250800,92.45,17.871650,17.777800,16.666700,15.555600,46.500000,9.334200,16.737200,84.000000,...,83.000000,1020.000000,5.740000,11,11,0.000000e+00,1,0,0,0

# ***예측날 테이블 만들기***

In [38]:
date = '2024-11-10'
token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJqaUtiN01nazVKZThnd3JTbmFmMk1HIiwiaWF0IjoxNzMxMjAxMzE4LCJleHAiOjE3MzE1OTY0MDAsInR5cGUiOiJhcGlfa2V5In0.1HewB2-rCsqpwLN4FlbwPOAOoIDK54phUZmcJorS2W4"

weather_forecast = requests.get(f'https://research-api.solarkim.com/data/cmpt-2024/weather-forecast/{date}', headers={
    'Authorization': f'Bearer {token}'
}).json()

df_weather_forecast_1 = pd.DataFrame(weather_forecast['weather_forecast_1'])
df_weather_forecast_2 = pd.DataFrame(weather_forecast['weather_forecast_2'])

df_weather_forecast_1 = df_weather_forecast_1.drop(columns=['location', 'base_ts'], errors='ignore')
df_weather_forecast_2 = df_weather_forecast_2.drop(columns=['location', 'base_ts'], errors='ignore')

In [39]:
df_weather_forecast_2

,ts,cloud,temp,temp_max,temp_min,humidity,ground_press,wind_speed,wind_dir,rain,snow
0,1731250800,98.0,17.06,17.06,17.06,83.0,1020.0,5.77,41.0,0.0,0.0
1,1731254400,89.0,17.00,17.00,17.00,81.0,1020.0,5.20,28.0,0.0,0.0
2,1731258000,84.0,16.86,16.86,16.86,79.0,1020.0,4.61,30.0,0.0,0.0
3,1731261600,75.0,16.80,16.80,16.80,77.0,1020.0,4.35,16.0,0.0,0.0
4,1731265200,20.0,16.80,16.80,16.80,75.0,1020.0,5.08,9.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
70,1731322800,0.0,16.91,16.91,16.91,79.0,1020.0,2.16,83.0,0.0,0.0
71,1731326400,0.0,16.77,16.77,16.77,80.0,1020.0,1.94,84.0,0.0,0.0
72,1731330000,0.0,16.55,16.55,16.55,81.0,1020.0,1.65,84.0,0.0,0.0
73,1731333600,2.0,16.37,16.37,16.37,81.0,1020.0,1.37,67.0,0.0,0.0
74,1731337200,1.0,16.23,16.23,16.23,81.0,1020.0,1.44,40.0,0.0,0.0

In [40]:
start_ts =  1731254400

timestamps = [start_ts + i * 3600 for i in range(24)]

new_data = {
    'ts': timestamps
}
new_df = pd.DataFrame(new_data)

In [41]:
df_weather_forecast_1_grouped = df_weather_forecast_1.groupby('ts').mean().reset_index()
df_weather_forecast_2_grouped = df_weather_forecast_2.groupby('ts').mean().reset_index()

new_df = pd.merge(new_df, df_weather_forecast_1_grouped, on='ts', how='left', suffixes=('', '_1'))
new_df = pd.merge(new_df, df_weather_forecast_2_grouped, on='ts', how='left', suffixes=('', '_2'))

for column in new_df.columns:
    if '_1' in column or '_2' in column:
        base_column = column.replace('_1', '').replace('_2', '')
        if base_column in new_df.columns:
            new_df[base_column] = new_df[[base_column, column]].mean(axis=1)

new_df = new_df.loc[:, ~new_df.columns.str.endswith(('_1', '_2'))]

In [42]:
columns_to_drop = ['ice','snow_prob', 'snow', 'ice_prob']

new_df = new_df.drop(columns=columns_to_drop)

In [43]:
new_df['datetime'] = pd.to_datetime(new_df['ts'], unit='s', utc=True).dt.tz_convert('Asia/Seoul')

In [44]:
new_df['hour'] = new_df['datetime'].dt.hour
new_df['month'] = new_df['datetime'].dt.month
new_df['day'] = new_df['datetime'].dt.day

new_df['hour_sin'] = np.sin(2 * np.pi * new_df['hour'] / 24)

new_df = new_df.drop(columns=['hour'])

new_df = new_df.drop(columns=['datetime'])

In [45]:
new_df = new_df.copy()

new_df['date'] = pd.to_datetime(new_df['ts'], unit='s', utc=True).dt.tz_convert('Asia/Seoul')
new_df['weekday'] = new_df['date'].dt.dayofweek  

new_df['월요일'] = (new_df['weekday'] == 0).astype(int)  
new_df['평일'] = new_df['weekday'].isin(range(1, 5)).astype(int)  
new_df['주말'] = new_df['weekday'].isin([5, 6]).astype(int) 

new_df['공휴일'] = 0

new_df = new_df.drop(columns=['date', 'weekday'])

In [46]:
new_df.rename(columns={
    '월요일': 'Monday',
    '평일': 'Weekday',
    '주말': 'Weekend',
    '공휴일': 'Holiday'
}, inplace=True)

In [47]:
new_df = new_df.drop(columns=['temp_max'])

In [48]:
new_df

,ts,temp,real_feel_temp,wet_bulb_temp,dew_point,wind_spd,wind_dir,wind_gust_spd,rel_hum,vis,...,humidity,ground_press,wind_speed,month,day,hour_sin,Monday,Weekday,Weekend,Holiday
0,1731254400,15.720556,14.506167,14.876556,13.888856,13.393344,43.555556,27.394622,87.666667,11.265400,...,84.666667,1020.000000,3.816667,11,11,2.588190e-01,1,0,0,0
1,1731258000,15.487906,14.197522,14.814822,13.641956,13.393344,41.055556,26.786644,87.000000,11.265400,...,83.000000,1020.000000,3.176667,11,11,5.000000e-01,1,0,0,0
2,1731261600,15.303589,14.012344,14.320989,13.271600,13.196644,49.333333,25.767411,86.444444,13.947622,...,81.666667,1020.000000,2.956667,11,11,7.071068e-01,1,0,0,0
3,1731265200,15.055928,13.518511,13.950600,12.839489,13.822500,202.000000,25.981978,86.000000,16.093400,...,80.333333,1020.000000,3.350000,11,11,8.660254e-01,1,0,0,0
4,1731268800,14.815739,12.962944,13.518500,12.345678,14.430478,141.333333,26.375356,85.000000,16.093400,...,77.666667,1020.000000,3.623333,11,11,9.659258e-01,1,0,0,0
5,1731272400,14.784933,13.086422,13.395056,11.913578,14.430478,141.000000,26.572056,82.555556,16.093400,...,77.666667,1020.000000,3.976667,11,11,1.000000e+00,1,0,0,0
6,1731276000,14.680739,13.209867,13.209856,11.913578,14.233778,140.388889,26.572056,82.111111,16.093400,...,78.000000,1020.333333,3.916667,11,11,9.659258e-01,1,0,0,0
7,1731279600,15.221917,14.876556,13.641956,12.037044,14.019200,199.055556,26.357478,79.555556,16.093400,...,77.000000,1021.000000,3.800000,11,11,8.660254e-01,1,0,0,0
8,1731283200,16.028217,16.666667,14.197522,12.098767,13.804622,199.722222,26.572044,75.555556,16.093400,...,72.666667,1021.000000,3.733333,11,11,7.071068e-01,1,0,0,0
9,1731286800,16.816233,18.271589,14.753100,12.222211,14.019200,104.944444,25.356122,71.222222,16.093400,...,68.666667,1021.000000,3.300000,11,11,5.000000e-01,1,0,0,0
10,1731290400,17.581717,19.753089,14.999989,12.283956,14.037076,49.500000,24.515689,67.111111,16.093400,...,65.333333,1020.000000,2.976667,11,11,2.588190e-01,1,0,0,0
11,1731294000,18.064506,20.246911,15.185178,12.283956,14.037076,75.333333,23.693122,64.666667,16.093400,...,63.333333,1020.000000,2.983333,11,11,1.224647e-16,1,0,0,0
12,1731297600,18.499750,20.493822,15.308644,12.098767,13.840378,100.500000,24.515678,62.222222,16.093400,...,62.000000,1019.000000,3.220000,11,11,-2.588190e-01,1,0,0,0
13,1731301200,18.558950,20.123456,15.308633,12.160500,13.429100,80.111111,25.552811,62.222222,16.093400,...,62.333333,1019.000000,3.520000,11,11,-5.000000e-01,1,0,0,0
14,1731304800,18.348761,19.382722,15.246911,12.098767,12.999944,65.222222,26.572056,63.555556,16.093400,...,63.666667,1019.000000,3.873333,11,11,-7.071068e-01,1,0,0,0
15,1731308400,18.250433,18.641956,15.308633,12.407411,12.785367,73.944444,24.515667,64.333333,16.093400,...,64.666667,1018.666667,3.716667,11,11,-8.660254e-01,1,0,0,0
16,1731312000,17.716717,17.345667,14.938278,12.469133,11.944933,66.555556,22.673889,67.555556,16.093400,...,67.666667,1019.000000,3.200000,11,11,-9.659258e-01,1,0,0,0
17,1731315600,17.057217,16.851867,14.938278,12.530856,10.943556,65.833333,21.833456,70.444444,16.093400,...,72.666667,1019.000000,2.956667,11,11,-1.000000e+00,1,0,0,0
18,1731319200,16.540122,15.925933,14.444444,12.407411,10.532278,70.777778,21.225467,74.444444,16.093400,...,75.000000,1020.000000,2.850000,11,11,-9.659258e-01,1,0,0,0
19,1731322800,16.387528,16.049400,14.382722,12.407411,10.120998,57.333333,20.599600,74.555556,16.093400,...,76.000000,1020.000000,2.183333,11,11,-8.660254e-01,1,0,0,0
20,1731326400,16.475194,16.234567,14.320978,12.407411,9.513020,93.722222,20.617489,73.444444,16.093400,...,77.000000,1020.000000,1.916667,11,11,-7.071068e-01,1,0,0,0
21,1731330000,16.099083,15.925944,14.135789,12.222233,9.101740,109.388889,18.364433,75.222222,16.093400,...,78.000000,1020.000000,1.720000,11,11,-5.000000e-01,1,0,0,0
22,1731333600,15.791361,15.432089,13.950600,12.037056,9.101740,98.611111,17.112722,77.111111,16.093400,...,78.333333,1020.000000,1.653333,11,11,-2.588190e-01,1,0,0,0
23,1731337200,15.557039,15.123444,13.641967,11.790133,8.887160,128.666667,16.737200,78.000000,16.093400,...,78.666667,1020.000000,1.806667,11,12,0.000000e+00,0,1,0,0

# ***대회 평가지표***

In [49]:
def calculate_measure(actual, forecast):
    actual = np.array(actual)
    forecast = np.array(forecast)

    positive_index = actual > 0
    negative_index = actual <= 0

    # actual은 0과 -1 사이의 값을 처리
    actual[(actual <= 0) & (actual > -1)] = -1
    
    # 긍정적 및 부정적 가격의 수
    n1 = np.sum(positive_index) + 1e-7
    n2 = np.sum(negative_index) + 1e-7

    # e1: 긍정적 가격 예측 오차 비율
    e1 = (
        np.sum(
            np.abs(actual[positive_index] - forecast[positive_index])
            / np.abs(actual[positive_index])
        )
        / n1
    )

    # e2: 부정적 가격 예측 오차 비율
    e2 = (
        np.sum(
            np.abs(actual[negative_index] - forecast[negative_index])
            / np.abs(actual[negative_index])
        )
        / n2
    )

    TP = np.sum((forecast > 0) & (actual > 0))
    TN = np.sum((forecast <= 0) & (actual <= 0))
    FP = np.sum((forecast > 0) & (actual <= 0))
    FN = np.sum((forecast <= 0) & (actual > 0))

    # 정확도 계산
    Accuracy = (TP + TN) / (TP + TN + FP + FN)
    print(f'Accuracy: {Accuracy}')
    print(f'e1: {e1}, e2: {e2}')

    e_F = 0.2 * e1 + 0.8 * e2 - (Accuracy - 0.95)

    return e_F

# ***예측 모델 돌리기***

# ***SVR + lightGBM***

In [50]:
import pandas as pd
import numpy as np
from lightgbm import LGBMRegressor
from sklearn.svm import SVR
from sklearn.preprocessing import MinMaxScaler

# 특성 및 목표 변수 정의
target = 'smp_da'
features = merged_df.columns.difference([target])

# 훈련 데이터와 검증 데이터 분리
train_data = merged_df.iloc[:-72]
valid_data = merged_df.iloc[-72:]

# 특성과 타겟 변수 분리
X_train = train_data[features]
y_train = train_data[target]
X_valid = valid_data[features]
y_valid = valid_data[target]

# MinMax 스케일링 적용
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_valid_scaled = scaler.transform(X_valid)
X_new_scaled = scaler.transform(new_df[features])  # new_df에 스케일 적용

# LightGBM 모델 훈련 및 예측
lgbm_model = LGBMRegressor(objective='regression', random_state=42)
lgbm_model.fit(X_train_scaled, y_train)
y_train_pred_lgbm = lgbm_model.predict(X_train_scaled)
y_valid_pred_lgbm = lgbm_model.predict(X_valid_scaled)
y_new_pred_lgbm = lgbm_model.predict(X_new_scaled)

# LightGBM 예측 값과 실제 값의 잔차 계산
residual_train = y_train - y_train_pred_lgbm

# SVR 모델을 잔차 보정 모델로 훈련 (LightGBM 예측 값을 입력으로 사용)
svr_model_corrector = SVR(kernel='rbf', C=50, epsilon=2)
svr_model_corrector.fit(y_train_pred_lgbm.reshape(-1, 1), residual_train)

# SVR 모델로 잔차 보정 예측
residual_valid_pred_svr = svr_model_corrector.predict(y_valid_pred_lgbm.reshape(-1, 1))
residual_new_pred_svr = svr_model_corrector.predict(y_new_pred_lgbm.reshape(-1, 1))

# 최종 예측 (LightGBM 예측 + SVR로 예측한 잔차 보정)
y_valid_final_pred = y_valid_pred_lgbm + residual_valid_pred_svr
y_new_final_pred = y_new_pred_lgbm + residual_new_pred_svr

# 검증 데이터 평가
measure = calculate_measure(y_valid, y_valid_final_pred)
print("Custom Measure for Validation (Residual Corrector Ensemble):", measure)

# 최종 예측 출력
print("Predicted SMP for 2024-11-11 (24 hours, Residual Corrector Ensemble):", y_new_final_pred)

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001160 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 5113
[LightGBM] [Info] Number of data points in the train set: 6088, number of used features: 29
[LightGBM] [Info] Start training from score 126.981510
Accuracy: 1.0
e1: 0.13652740151061807, e2: 0.0
Custom Measure for Validation (Residual Corrector Ensemble): -0.02269451969787643
Predicted SMP for 2024-11-11 (24 hours, Residual Corrector Ensemble): [111.06452825 104.64459703  97.67373189 102.16581906  97.76545303
  96.48605616 102.40786753 130.67101857 110.36680731 110.41171967
  99.82356416  89.75053313  97.10307019  99.3133264  109.48197823
 123.75596219 122.96453011 136.37879919 135.63580263 130.1625396
 127.98643131  90.57405963  93.94497273 105.79186688]

In [ ]:
import pandas as pd
import numpy as np
from lightgbm import LGBMRegressor
from sklearn.svm import SVR
from sklearn.preprocessing import MinMaxScaler

# 특성 및 목표 변수 정의
target = 'smp_da'
features = merged_df.columns.difference([target])

# 훈련 데이터와 검증 데이터 분리
train_data = merged_df.iloc[:-72]
valid_data = merged_df.iloc[-72:]

# 특성과 타겟 변수 분리
X_train = train_data[features]
y_train = train_data[target]
X_valid = valid_data[features]
y_valid = valid_data[target]

# MinMax 스케일링 적용
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_valid_scaled = scaler.transform(X_valid)
X_new_scaled = scaler.transform(new_df[features])  # new_df에 스케일 적용

# LightGBM 모델 훈련 및 예측
lgbm_model = LGBMRegressor(objective='regression', random_state=42)
lgbm_model.fit(X_train_scaled, y_train)
y_train_pred_lgbm = lgbm_model.predict(X_train_scaled)
y_valid_pred_lgbm = lgbm_model.predict(X_valid_scaled)
y_new_pred_lgbm = lgbm_model.predict(X_new_scaled)

# LightGBM 예측 값과 실제 값의 잔차 계산
residual_train = y_train - y_train_pred_lgbm

# SVR 모델을 잔차 보정 모델로 훈련 (LightGBM 예측 값을 입력으로 사용)
svr_model_corrector = SVR(kernel='rbf', C=50, epsilon=2)
svr_model_corrector.fit(y_train_pred_lgbm.reshape(-1, 1), residual_train)

# SVR 모델로 잔차 보정 예측
residual_valid_pred_svr = svr_model_corrector.predict(y_valid_pred_lgbm.reshape(-1, 1))
residual_new_pred_svr = svr_model_corrector.predict(y_new_pred_lgbm.reshape(-1, 1))

# SVR 가중치 설정 (예: 0.7로 설정)
svr_weight = 0.7
lgbm_weight = 1 - svr_weight  # LightGBM의 가중치는 나머지

# 최종 예측 (LightGBM 예측 + SVR로 예측한 잔차 보정, SVR의 비중 조정)
y_valid_final_pred = lgbm_weight * y_valid_pred_lgbm + svr_weight * (y_valid_pred_lgbm + residual_valid_pred_svr)
y_new_final_pred = lgbm_weight * y_new_pred_lgbm + svr_weight * (y_new_pred_lgbm + residual_new_pred_svr)

# 검증 데이터 평가
measure = calculate_measure(y_valid, y_valid_final_pred)
print("Custom Measure for Validation (Residual Corrector Ensemble with SVR Weight):", measure)

# 최종 예측 출력
print("Predicted SMP for 2024-11-11 (24 hours, Residual Corrector Ensemble with SVR Weight):", y_new_final_pred)

# ***제출***

In [ ]:
import json
import requests

result = {
    'submit_result': y_new_final_pred.tolist()  
}

token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJqaUtiN01nazVKZThnd3JTbmFmMk1HIiwiaWF0IjoxNzMxMjAxMzE4LCJleHAiOjE3MzE1OTY0MDAsInR5cGUiOiJhcGlfa2V5In0.1HewB2-rCsqpwLN4FlbwPOAOoIDK54phUZmcJorS2W4"

try:
    response = requests.post(
        'https://research-api.solarkim.com/submissions/cmpt-2024',
        data=json.dumps(result),
        headers={
            'Authorization': f'Bearer {token}',
            'Content-Type': 'application/json'
        }
    )
    success = response.json()
    print("Submission response:", success)
except requests.exceptions.RequestException as e:
    print("Submission failed:", e)

# ***예측날 값 불러오기***

In [ ]:
import requests

date = '2024-11-09'
token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJqaUtiN01nazVKZThnd3JTbmFmMk1HIiwiaWF0IjoxNzI5NTgzOTkyLCJleHAiOjE3MzE1OTY0MDAsInR5cGUiOiJhcGlfa2V5In0.2Y10TiejY2YYCZvaMP1k2F4Xl4m9aLQIHBd5yTwhnuA"

smp_da = requests.get(f'https://research-api.solarkim.com/data/cmpt-2024/smp-da/{date}', headers={
                            'Authorization': f'Bearer {token}'
                        }).json()
smp_da = pd.DataFrame(smp_da)
smp_da

# ***그래프 비교***

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import timezone, timedelta

# Initialize data1 with values from the image
data1 = {
    'ts': [
        1731168000, 1731171600, 1731175200, 1731178800, 1731182400, 1731186000,
        1731189600, 1731193200, 1731196800, 1731200400, 1731204000, 1731207600,
        1731211200, 1731214800, 1731218400, 1731222000, 1731225600, 1731229200,
        1731232800, 1731236400, 1731240000, 1731243600, 1731247200, 1731250800
    ],
    'smp_da': [
        92.37, 78.05, 78.05, 78.05, 78.05, 
        90.50, 87.98, 106.80, 116.84, 131.57, 143.05, 
        131.54, 141.81, 131.51, 131.54, 137.94, 
        131.54, 131.54, 131.57, 116.84, 113.76, 
        113.00, 106.61, 106.61
    ]
}
df1 = pd.DataFrame(data1)

# Initialize data2 with the provided values
data2 = {
    'ts': df1['ts'],  # Use 'ts' from data1
    'smp_da': [
        101.8467951, 102.27120044, 94.86699859, 96.33641774, 96.09046811,
        96.9235976, 97.1818594, 116.79775823, 98.18695416, 117.33865445,
        105.29699411, 96.40972753, 101.74882576, 110.0367414, 129.75591999,
        134.6331161, 139.75766838, 143.02207874, 143.57014606, 141.27096858,
        130.08961727, 97.50184777, 94.34335006, 106.44904698
    ]
}
df2 = pd.DataFrame(data2)

# Convert 'ts' to KST timezone
kst = timezone(timedelta(hours=9))
df1['ts'] = pd.to_datetime(df1['ts'], unit='s', utc=True).dt.tz_convert(kst)
df2['ts'] = pd.to_datetime(df2['ts'], unit='s', utc=True).dt.tz_convert(kst)

# Plotting
plt.figure(figsize=(12, 6))
plt.plot(df1['ts'], df1['smp_da'], label='Updated DataFrame 1 (df1)', marker='o')
plt.plot(df2['ts'], df2['smp_da'], label='Updated DataFrame 2 (df2)', marker='o')

plt.xticks(rotation=45)
plt.xlabel('Timestamp (KST)')
plt.ylabel('smp_da Value')
plt.title('Comparison of smp_da between updated df1 and df2 with new data')
plt.legend()
plt.grid()
plt.tight_layout()
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import timezone, timedelta

# Initialize data1 with values from the image
data1 = {
    'ts': [
        1731168000, 1731171600, 1731175200, 1731178800, 1731182400, 1731186000,
        1731189600, 1731193200, 1731196800, 1731200400, 1731204000, 1731207600,
        1731211200, 1731214800, 1731218400, 1731222000, 1731225600, 1731229200,
        1731232800, 1731236400, 1731240000, 1731243600, 1731247200, 1731250800
    ],
    'smp_da': [
        92.37, 78.05, 78.05, 78.05, 78.05, 
        90.50, 87.98, 106.80, 116.84, 131.57, 143.05, 
        131.54, 141.81, 131.51, 131.54, 137.94, 
        131.54, 131.54, 131.57, 116.84, 113.76, 
        113.00, 106.61, 106.61
    ]
}
df1 = pd.DataFrame(data1)

# Initialize data2 with the updated values
data2 = {
    'ts': df1['ts'],  # Use 'ts' from data1
    'smp_da': [
      98.92366601, 93.9899385, 87.57193534, 95.74445757, 95.87618706,
98.28781592, 101.47955881, 142.73255633, 101.10091429, 107.09501188,
130.22749306, 98.46383338, 98.77301592, 101.42218946, 116.12706371,
120.81537739, 134.01542145, 137.65201467, 142.02339875, 134.05062725,
132.81223406, 115.32970257, 106.55104211, 106.80297238
    ]
}
df2 = pd.DataFrame(data2)

# Convert 'ts' to KST timezone
kst = timezone(timedelta(hours=9))
df1['ts'] = pd.to_datetime(df1['ts'], unit='s', utc=True).dt.tz_convert(kst)
df2['ts'] = pd.to_datetime(df2['ts'], unit='s', utc=True).dt.tz_convert(kst)

# Plotting
plt.figure(figsize=(12, 6))
plt.plot(df1['ts'], df1['smp_da'], label='Updated DataFrame 1 (df1)', marker='o')
plt.plot(df2['ts'], df2['smp_da'], label='Updated DataFrame 2 (df2)', marker='o')

plt.xticks(rotation=45)
plt.xlabel('Timestamp (KST)')
plt.ylabel('smp_da Value')
plt.title('Comparison of smp_da between updated df1 and df2 with new data')
plt.legend()
plt.grid()
plt.tight_layout()
plt.show()

# ***e_F 계산***

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import timezone, timedelta

# Initialize data1 with values from the image
data1 = {
    'ts': [
        1731168000, 1731171600, 1731175200, 1731178800, 1731182400, 1731186000,
        1731189600, 1731193200, 1731196800, 1731200400, 1731204000, 1731207600,
        1731211200, 1731214800, 1731218400, 1731222000, 1731225600, 1731229200,
        1731232800, 1731236400, 1731240000, 1731243600, 1731247200, 1731250800
    ],
    'smp_da': [
        92.37, 78.05, 78.05, 78.05, 78.05, 
        90.50, 87.98, 106.80, 116.84, 131.57, 143.05, 
        131.54, 141.81, 131.51, 131.54, 137.94, 
        131.54, 131.54, 131.57, 116.84, 113.76, 
        113.00, 106.61, 106.61
    ]
}
df1 = pd.DataFrame(data1)



data2 = {
    'ts': df1['ts'],  # Use 'ts' from data1
    'smp_da': [
        101.8467951, 102.27120044, 94.86699859, 96.33641774, 96.09046811,
        96.9235976, 97.1818594, 116.79775823, 98.18695416, 117.33865445,
        105.29699411, 96.40972753, 101.74882576, 110.0367414, 129.75591999,
        134.6331161, 139.75766838, 143.02207874, 143.57014606, 141.27096858,
        130.08961727, 97.50184777, 94.34335006, 106.44904698
    ]
}
df2 = pd.DataFrame(data2)

# ts를 KST로 변환
kst = timezone(timedelta(hours=9))
df1['ts'] = pd.to_datetime(df1['ts'], unit='s', utc=True).dt.tz_convert(kst)
df2['ts'] = pd.to_datetime(df2['ts'], unit='s', utc=True).dt.tz_convert(kst)

# e_F 값 계산
e_f_value = calculate_measure(df1['smp_da'], df2['smp_da'])
print(f'e_F: {e_f_value}')

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import timezone, timedelta

# Initialize data1 with values from the image
data1 = {
    'ts': [
        1731168000, 1731171600, 1731175200, 1731178800, 1731182400, 1731186000,
        1731189600, 1731193200, 1731196800, 1731200400, 1731204000, 1731207600,
        1731211200, 1731214800, 1731218400, 1731222000, 1731225600, 1731229200,
        1731232800, 1731236400, 1731240000, 1731243600, 1731247200, 1731250800
    ],
    'smp_da': [
        92.37, 78.05, 78.05, 78.05, 78.05, 
        90.50, 87.98, 106.80, 116.84, 131.57, 143.05, 
        131.54, 141.81, 131.51, 131.54, 137.94, 
        131.54, 131.54, 131.57, 116.84, 113.76, 
        113.00, 106.61, 106.61
    ]
}
df1 = pd.DataFrame(data1)



data2 = {
    'ts': df1['ts'],  # Use 'ts' from data1
    'smp_da': [
        98.92366601, 93.9899385, 87.57193534, 95.74445757, 95.87618706,
98.28781592, 101.47955881, 142.73255633, 101.10091429, 107.09501188,
130.22749306, 98.46383338, 98.77301592, 101.42218946, 116.12706371,
120.81537739, 134.01542145, 137.65201467, 142.02339875, 134.05062725,
132.81223406, 115.32970257, 106.55104211, 106.80297238

    ]
}
df2 = pd.DataFrame(data2)

# ts를 KST로 변환
kst = timezone(timedelta(hours=9))
df1['ts'] = pd.to_datetime(df1['ts'], unit='s', utc=True).dt.tz_convert(kst)
df2['ts'] = pd.to_datetime(df2['ts'], unit='s', utc=True).dt.tz_convert(kst)

# e_F 값 계산
e_f_value = calculate_measure(df1['smp_da'], df2['smp_da'])
print(f'e_F: {e_f_value}')